.container {
    padding: 16px;
    width: 100%;
  
    .btn_box {
      button, a {
        margin-right: 12px;
        background-color: transparent;
        color: black;
  
        &:hover {
          color: #0d6efd;
        }
      }
    }
  }